<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProjectsTM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ProjectsTM.Properties.Settings>
            <setting name="SearchWorkitemFormUserSize" serializeAs="String">
                <value>727, 230</value>
            </setting>
            <setting name="dataGridView1UserSize" serializeAs="String">
                <value>705, 165</value>
            </setting>
            <setting name="buttonSearchUserLocation" serializeAs="String">
                <value>670, 6</value>
            </setting>
            <setting name="textBoxPatternUserSize" serializeAs="String">
                <value>344, 19</value>
            </setting>
            <setting name="buttonEasyRegexUserLocation" serializeAs="String">
                <value>358, 6</value>
            </setting>
            <setting name="checkBoxCaseDistinctUserLocation" serializeAs="String">
                <value>439, 11</value>
            </setting>
            <setting name="checkBoxOverwrapPeriodUserLocation" serializeAs="String">
                <value>515, 10</value>
            </setting>
            <setting name="checkBoxIncludeMilestoneUserLocation" serializeAs="String">
                <value>591, 10</value>
            </setting>
        </ProjectsTM.Properties.Settings>
    </userSettings>
</configuration>